<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AI Book Assistant</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>

<h1>AI Book Assistant</h1>
<p> Твой личный AI Помощник,
    который ответит на любой вопрос
    и подскажет что и как почитать!
</p>

<div id="messages">

</div>

<form onsubmit="submitForm(event)">
    <input type="text" id="input" placeholder="Введите запрос"/>
</form>

    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>